<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Packing List</title>
</head>
<body>
    <h1>Travel Packing List</h1>
    <table border="1">
        <tr>
            <th>Clothes</th>
            <th>Toiletries</th>
        </tr>
        <tr>
            <td>
                <ol>
                   <% for(let i=0; i < clothesList.length ; i++) { %>
                    <li>
                    <%= clothesList[i] %>
                </li>
                 <% } %>

                </ol>
            </td>
            <td>
                <ol>
                    <% for(let i=0; i < toiletriesList.length ; i++) { %>
                    <li>
                    <%= toiletriesList[i] %>
                </li>
                 <% } %>
                     
                </ol>
            </td>
        </tr>
    </table>

    <h1>Add Item</h1>
    <form action="/submit" method="post">
        Item: <input type="text" name="item" required>
        <br><br>
        Category:
        <select name="category" required>
            <option value="clothes">Clothes</option>
            <option value="toiletries">Toiletries</option>
        </select>
        <br><br>
        <button type="submit">Add to List</button>
    </form>

</body>
</html>